{% extends "base.html" %}
{% block title %}main view{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-12 text-center mt-5">
            <h1>Flask web monitor app</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">url</th>
                        <th scope="col">status</th>
                        <th scope="col">request time</th>
                        <th scope="col">requirements</th>
                    </tr>
                </thead>
                <tbody>
                    {% for url in urls %}
                        <tr>
                            <td>{{ url.url }}</td>
                            <td>{{ url.status_code }}</td>
                            <td>{{ url.request_time }}</td>
                            <td>{% if url.requirement %}{{ url.requirement_met }}{% else %}<i>no requirements</i>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}